*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}
a{
    color: inherit;
}

.active{
    display: block;
}
.hide{
    display: none;
}

.container{
    max-width: 1220px;
    /* статическая ширина, как и высота - это опасно */
    /* поэтому пишем макс-виз, чтобы было динамически */
    /* background-color: chartreuse; */
    margin: 0 auto;/*   выравнивает по центру */
    padding: 0 10px;
    /* добавили эти 20пикс в ширину */
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* выровняли блок посередине */
}

.navigation{
    margin-right: 70px;
}

.navigation ul{
    display: flex;
}

.navigation__item + .navigation__item{
    padding-left: 10px;
    /* запись + означает "выполнить для тех, у кого есть сосед" */
    /* т.е. у 1 нет соседа слева. но есть справа. Значит правому добавляем. */
    /* а последний имеет соседа слева */
}

.navigation__item a{
    text-transform: uppercase;
    padding: 43px 20px;
    transition: 0.5s;
}

.navigation__item a:hover{
    background-color: #131313;
    color: white;
}

.bike{
    padding: 100px 0 150px 0;
}

.bike__inner{
    display: flex;
    justify-content: space-between;
    
}

.bike__column + .bike__column{
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
}

.bike__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 60px 0 5px;
}

.bike__subtitle{
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    color: #6f6f6f;
    margin: 0 0 60px;
}

.bike__text{
    max-width: 420px; 
    /* тут уже не исп флекс-бэсис тк это не первый потомок флекса */
    margin-top: 20px;
}

.bike__link{
    margin-top: 80px;
    display: inline-block;
    /* схлопывание марджинов, т.е они не суммируются, а берется бОльший */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: white;
    background-color: #131313;
    padding: 28px 81px;
    font-weight: 400;
}

.bike__link:hover{
    background-color: #FF4040;
    transition: 0.5s;
}

.bike-slider{
    position: relative;
    margin-bottom: 25px;
}

.bike-slider .slick-dots{
    right: 0;
    top: 52px;
}

.slick-dots{
    position: absolute;
    top: 0;
}

.bike__slider-btns{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 24px;
    width: 60px;
    justify-content: space-between;
    cursor: pointer;
}

.bike__list{
    display: flex;
    text-align: center;
    /* margin-top: 25px; */
    font-weight: 700;
    text-transform: uppercase;
    justify-content: space-between;
    /* flex-basis: 500px; */
    max-width: 500px;
    margin: 0 auto;
}

/* .bike__list + .bike__list{
    margin-left: 66px;
} */

.bike__list span{
    display: block;
    font-weight: 400;
    margin-top: 13px;
    font-size: 12px;
    text-transform: lowercase;
}

.bike__list-item3{
    max-width: 160px;
}

.advantages{
    padding: 0 0 150px 0;
}

.adv-cont{
    display: flex;
    justify-content: space-between;
}

.advantages__paragraph{
    margin: 0 80px 0 60px;
}

.advantages__paragraph + .advantages__paragraph{
    margin-top: 50px;
}

.advantages__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages__text p{
    width: 450px;
}

.peculiarities{
    padding-bottom: 150px;
}


.peculiarities__header{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.peculiarities__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.characteristics__item{
    width: 570px;
    /* //как уйти от жестких рамок? */
}

.characteristics__item + .characteristics__item{
    margin-top: 25px;
}

.characteristics__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: #131313;
    color: white;
    padding: 3px 0 3px 1px;
    margin-bottom: 10px;
}

.characteristics__text-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.characteristics__text-right{
    width: 285px;
    text-align: left;
}

.slider{
    padding-bottom: 50px;
}

.slider__img{
    margin-right: 0 auto;
}

.slider__img img{
    height: 630px;
    padding-left: 50px;
}

.slider__inner{
    position: relative;
}

.slider__btns{
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
}

.slider__btn{
    width: 2px;
    height: 25px;
    background: #131313;
    border-radius: 7px;
    margin-bottom: 10px;
}

.red{
    background-color: #ff4040;
}

.activated{
    display: block;
    /* object-fit: cover; */
}
.hidden{
    display: none;
}

.order__inner{
    position: relative;
}

.form{
    max-width: 420px;
}

.form__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.form__text{
    width: 300px;
    /* т.к минимальный адаптив 320пикс, то тут не мадо макс-виз */
    margin-bottom: 30px;
}

.form__input-name,
.form__input-tel{
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding-bottom: 10px;
    margin-bottom: 20px;
    /* cursor: pointer; */
}

.form__input-name::placeholder,
.form__input-tel::placeholder,
.form__color{
    line-height: 120%;
    color: #6F6F6F;
    opacity: 0.5;
}

.form__label-box{
    display: flex;
    margin-top: 10px;
}

.form__label + .form__label{
    margin-left: 23px;
}

.form__radio-style{
    width: 80px;
    height: 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.form__radio-style--grey{
background-color: #6F6F6F;
}
.form__radio-style--white{
    background-color: #fff;
    border: 1px solid #6F6F6F;
}
.form__radio-style--red{
    background-color: #FF4040;
}

.form__input-radio{
    /* не рекомендуется делать дисплей-нон */
    /* лучше аккуратно спрятать */
    position: absolute;
    width: 1px;
    height: 1px;   
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike{
    display: block;
}

.form__bike{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.form__bike-price{
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    font-size: 32px;
    height: 100px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF4040;
    border-radius: 50%;
    /* офигенное св-во, чтобы двигать по сторонам */
    transform: translateX(-50%);

}
.form__bike-price::after{
    content: '';
    position: absolute;
    border: 1px solid #FF4040;
    border-radius: 50%;
    top: 12px;
    left: 0;
    width: 220px;
    height: 100px;
    border: 1px solid #FF4040;
    border-radius: 50%;
}


.form__btn{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: white;
    background-color: #131313;
    padding: 28px 81px;
    margin-top: 50px;
}
.form__btn:hover{
    background-color: #FF4040;
    transition: 0.3s;
}





.footer{
    background-color: #131313;
    margin-top: 100px;
    padding: 21px 0;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__policy{
    color: white;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    text-decoration: underline;
}
.footer__social +.footer__social{
    margin-left: 28px;
}
.footer__contacts{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-up{
    display: block;
}
.footer__contacts-item{
    margin-right: 10px;
}
.footer__contacts-span{
    color: white;
}
